.App {
  text-align: center;
}
.app-logo {
  height: 3rem;
  pointer-events: none;
}
.app-logo-bottom {
  height: 7vmin;
  pointer-events: none;
}

@media(max-width: 576px) {
  .app-logo {
    height: 2rem;
    pointer-events: none;
  }
}